<?xml version="1.0" encoding="UTF-8"?>
<!-- 网上搜罗的 -->
<configuration status="OFF">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!--<PatternLayout pattern="%d %-5level [%t] %c{1.}.%M(%L): %msg%n"/>-->
            <PatternLayout pattern="%d %highlight{%-5level}{ERROR=Bright RED, WARN=Bright Yellow, INFO=Bright Green, DEBUG=Bright Cyan, TRACE=Bright White} %style{[%t]}{bright,magenta} %style{%c{1.}.%M(%L)}{cyan}: %msg%n"/>
        </Console>
    </appenders>
    <loggers>
        <root level="trace">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>

<!--        &lt;!&ndash; 原本的 &ndash;&gt;-->
<!--        <?xml version="1.0" encoding="UTF-8"?>-->
<!--<Configuration status="WARN">-->
<!--<Appenders>-->
<!--    <Console name="Console" target="SYSTEM_OUT">-->
<!--        <PatternLayout pattern="%highlight{ %d{yyyy-MM-dd HH:mm:ss}%-5level [%t] }{ERROR=Bright RED, WARN=Bright Yellow, INFO=Bright Green, DEBUG=Bright Cyan, TRACE=Bright White} %-5p %c{1.}:  %m%n"/>-->
<!--    </Console>-->
<!--</Appenders>-->
<!--<Loggers>-->
<!--    <Root level="Debug">-->
<!--        <AppenderRef ref="Console"/>-->
<!--    </Root>-->
<!--</Loggers>-->
<!--</Configuration>-->
